<div class="container add-form">
  <h1 class="form-header">Tic-Tac-Toe</h1>
  <app-flash-message></app-flash-message>
  <ng-container *ngIf="requests">
    <div class="usersRequestsContainer">
      <div *ngFor="let request of requests" class="usersRequests">
        <span>Request from: {{ request.fromDisplayName }}</span>
        <app-timer-request [startTime]="request.timestamp.toDate().getTime()"></app-timer-request>
        <br>
        <button class="btn btnSuccess" (click)="acceptRequest(request)">Accept</button>
        <button class="btn btnDanger" (click)="declineRequest(request.id)">Decline</button>
      </div>
    </div>
  </ng-container>
  <div class="form-control">
    <div *ngIf="game">
      <div #scrollMe class="move-history">
        <ng-container *ngFor="let round of rounds">
          <div class="round-header">Round {{ round.round }}</div>
          <div *ngFor="let move of round.moves">
            <span [ngClass]="{'win-color': move.type === 'win', 'draw-color': move.type === 'draw'}">
              {{ move.message }}
            </span>
          </div>
        </ng-container>
      </div>
      <div class="gameTimer">
        <h3>{{ game.player1Name }} vs. {{ game.player2Name }}</h3>
        <div *ngIf="userID === game.currentTurnUid && game.status === 'ongoing'">
          <p>It's your turn!</p>
          <app-timer-game *ngIf="game.timestampForMoves"
            [startTime]="game.timestampForMoves.toDate().getTime()"></app-timer-game>
        </div>
        <div *ngIf="userID !== game.currentTurnUid && game.status === 'ongoing'">
          <p>Waiting for other player ...</p>
          <app-timer-game *ngIf="game.timestampForMoves" [startTime]="game.timestampForMoves.toDate().getTime()"
            (timeUp)="timeOutOccurred = true"></app-timer-game>
          <button class="btn btnSecondary" *ngIf="timeOutOccurred" (click)="kickPlayer()">Kick</button>
        </div>
      </div>
      <div class="row-container" *ngFor="let row of board; let rowIndex = index">
        <div class="tic-tac-toe-cell" [ngClass]="{'x': cell === 'X', 'o': cell === 'O'}"
          *ngFor="let cell of row; let colIndex = index" (click)="makeMove(rowIndex, colIndex)">
          {{ cell }}
        </div>
      </div>
      <div style="text-align: center;">
        <button class="btn btnSecondary" (click)="leaveGame()">Leave</button>
      </div>
    </div>
    <div class="usersStatus">
      <h2>Users</h2>
      <table>
        <tbody>
          <!-- Check if users are loaded -->
          <ng-container *ngIf="userService.users$ | async as users">
            <tr *ngFor="let oneUser of users" [class.mark-user]="oneUser && user && oneUser.id === user.id">
              <td>
                <app-user-status [id]="oneUser.id"></app-user-status>
              </td>
              <td style="cursor: pointer;" (click)="toggleDropdown(oneUser.id)">
                {{ oneUser.displayName }}
                <div *ngIf="showDropdown[oneUser.id]" class="dropdown-menu">
                  <button class="btn btnSecondary" (click)="sendRequest(oneUser.id, oneUser.displayName)">Send Play
                    Request</button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div style="text-align: center;" class="form-footer">
    <button class="btn btnDanger" (click)="signOut()">Logout</button>
  </div>
</div>