<!-- <div>
  Timer: {{ timerService.timer }}
</div> -->

<div class="container add-form">
  <h1 class="form-header">Game</h1>
  <app-flash-message></app-flash-message>
  <div class="form-control">
    <div class="row-container" *ngFor="let row of board; let rowIndex = index">
      <div class="tic-tac-toe-cell" [ngClass]="{'x': cell === 'X', 'o': cell === 'O'}"
        *ngFor="let cell of row; let colIndex = index" (click)="makeMove(rowIndex, colIndex)">
        {{ cell }}
      </div>
    </div>
    <!-- <app-user-status uid="userID">{{ userEmail }}</app-user-status> -->
  </div>
  <div style="text-align: center;" class="form-footer">
    <button class="btn btnDanger" (click)="signOut()">Logout</button>
  </div>
</div>