<div class="container add-form">
  <h1 class="form-header">Tic-Tac-Toe</h1>
  <app-flash-message></app-flash-message>
  <ng-container *ngIf="requests">
    <div class="usersRequestsContainer">
      <div *ngFor="let request of requests" class="usersRequests">
        <span>Request from: {{ request.fromDisplayName }}</span>
        <app-timer-request [startTime]="request.timestamp.toDate().getTime()"></app-timer-request>
        <br>
        <button class="btn btnSuccess" (click)="acceptRequest(request)">Accept</button>
        <button class="btn btnDanger" (click)="declineRequest(request.id)">Decline</button>
      </div>
    </div>
  </ng-container>
  <div class="form-control">
    <div *ngIf="game">
      <div #scrollMe class="move-history">
        <ng-container *ngFor="let round of rounds">
          <div class="round-header">Round {{ round.round }}</div>
          <div *ngFor="let move of round.moves">
            <span [ngClass]="{'win-color': move.type === 'win', 'draw-color': move.type === 'draw'}">
              {{ move.message }}
            </span>
          </div>
        </ng-container>
      </div>
      <div class="gameTimer">
        <p *ngIf="userID === game.currentTurnUid && game.status === 'ongoing'">It's your turn!</p>
        <p *ngIf="userID !== game.currentTurnUid && game.status === 'ongoing'">Waiting for other player ...</p>
      </div>
      <div class="row-container" *ngFor="let row of board; let rowIndex = index">
        <div class="tic-tac-toe-cell" [ngClass]="{'x': cell === 'X', 'o': cell === 'O'}"
          *ngFor="let cell of row; let colIndex = index" (click)="makeMove(rowIndex, colIndex)">
          {{ cell }}
        </div>
      </div>
      <div style="text-align: center;">
        <button class="btn btnSecondary" (click)="leaveGame()">Leave</button>
      </div>
    </div>
    <div class="usersStatus">
      <h2>Users</h2>
      <table>
        <tbody>
          <tr *ngFor="let user of userService.users$ | async">
            <td>
              <app-user-status [id]="user.id"></app-user-status>
            </td>
            <td style="cursor: pointer;" (click)="toggleDropdown(user.id)">
              {{ user.displayName }}
              <div *ngIf="showDropdown[user.id]" class="dropdown-menu">
                <button class="btn btnSecondary" (click)="sendRequest(user.id, user.displayName)">Send Play
                  Request</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="text-align: center;" class="form-footer">
    <button class="btn btnDanger" (click)="signOut()">Logout</button>
  </div>
</div>