<div class="container add-form">
  <h1 class="form-header">Login</h1>
  <app-flash-message></app-flash-message>
  <div class="form-control">
    <label class="form-label" for="userEmailInput">Email</label>
    <input id="userEmailInput" class="form-control" type="email" name="email" placeholder="Email" autocomplete="email" #userEmail required>
  </div>
  <div class="form-control">
    <label class="form-label" for="userPasswordInput">Password</label>
    <input id="userPasswordInput" class="form-control" type="password" name="password" placeholder="Password" #userPassword required>
  </div>
  <div class="form-footer">
    <button class="btn btnSuccess" (click)="userService.signIn(userEmail.value, userPassword.value)">Sign in</button>
    <button class="btn btnGoogle" (click)="userService.googleAuth()"></button>
  </div>
  <div class="form-control">
    <div>
      <a routerLink="/reset-password">Forgot Password?</a>
    </div>
    <div>
      <span>Don't have an account? <a routerLink="/registration">Registration</a></span>
    </div>
  </div>
</div>