<div class="container add-form">
  <div class="row">
    <div class="col">
      <h1 class="form-header text-align-center">LOGIN</h1>
      <!-- <flash-messages></flash-messages> -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <div>
          <label class="form-label">Email</label>
          <input class="form-control" type="email" placeholder="Email" #userEmail required>
        </div>
        <div style="padding-top: 10px;">
          <label class="form-label">Password</label>
          <input class="form-control" type="password" placeholder="Password" #userPassword required>
        </div>
        <div class="form-footer">
          <button class="form-control search"
            (click)="userService.SignIn(userEmail.value, userPassword.value)">Signin</button>
          <!-- <button class="btn btnGoogle" (click)="userService.GoogleLogin()">google</button> -->
        </div>
        <div>
          <!-- <div>
            <button (click)="navigateToResetPassword()">Forgot Password?</button>
          </div>-->
          <div>
            <span style="color: orange;">Don't have an account?</span>
            <button (click)="navigateToRegistration()">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>