<div class="container add-form">
  <h1 class="form-header">Registration</h1>
  <app-flash-message></app-flash-message>
  <div class="form-control">
    <label for="regNicknameInput">Nickname</label>
    <input id="regNicknameInput" type="text" placeholder="Nickname" #userNickname required>
  </div>
  <div class="form-control">
    <label for="regEmailInput">Email</label>
    <input id="regEmailInput" type="email" placeholder="Email Address" #userEmail required>
  </div>
  <div class="form-control">
    <label for="regPasswordInput">Password</label>
    <input id="regPasswordInput" type="password" placeholder="Password" #userPwd required>
  </div>
  <div class="form-footer">
    <input type="button" class="btn btnSuccess" value="Sign up" (click)="signUp(userNickname.value, userEmail.value, userPwd.value)">
    <button type="button" class="btn btnGoogle" (click)="userService.googleAuth()"></button>
  </div>
  <div>
    <span>Already have an account? <a routerLink="/login">Login</a></span>
  </div>
</div>