<div class="container add-form">
  <h1 class="form-header">Reset Password</h1>
  <app-flash-message></app-flash-message>
  <p style="text-align: center;">Please enter your email address to request a password reset.</p>
  <div class="form-control">
    <label for="resEmail">Email</label>
    <input id="resEmail" type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
  </div>  
  <div class="form-footer">
    <input type="submit" class="btn btnSuccess" value="Reset Password" (click)="userService.ResetPassword(passwordResetEmail.value)">
  </div>
  <div>
    <span>Go back to <a routerLink="/login">Login</a>?</span>
  </div>
</div>